    <!--HTML for application -->
    
    <head><title>Poll</title></head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <a href="/home" class="btn button-color">
        <span class="glyphicon glyphicon-home"></span>
    </a>
    
    <body>
      <div class="container"><center>
          <h1>Welcome Teacher to the edit page</h1>
      </center></div>
    </body>
  </html>