    <!--HTML for application -->
    
    <head><title>Poll</title></head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <a href="/home" class="btn button-color">
        <span class="glyphicon glyphicon-home"></span>
    </a>
    
    <body>
      <div class="container"><center>
        <h1>Welcome Teacher to the host page</h1>
        <h2>Choose a Poll to host</h2>
        <p>
            <% @polls.each do |poll| %>
                <div class="row top10">
                    <div class="col-xs-12">
                        <a href="/poll/<%= poll.id %>" class="btn button-color">
                            <%= poll.id %>: <%= poll.name %>
                        </a>
                    </div>
                </div>
                <!--<% poll.questions.each do |question| %>-->
                <!--    <p><%= question.inspect %></p>-->
                <!--    <% question.answers.each do |answer| %>-->
                <!--        <p><%= answer.inspect %></p>-->
                <!--    <% end %>-->
                <!--<% end %>-->
            <% end %>
        </p>
      </center></div>
    </body>
  </html>