    <!--HTML for application -->
    
    <head><title>Poll</title></head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <body>
      <div class="container">
        <center>
        
          <h1>Welcome Teacher</h1>
  
        <div class=".col-md-6 .offset-md-3">
          <form method="get" action="create">
              <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Create Poll" />
          </form>
          
          <form method="get" action="edit">
              <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Edit Poll" />
          </form>
          
          <form method="get" action="host">
              <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Host Poll" />
          </form>
        </div>  
      </center></div>
    </body>
  </html>