    <!--HTML for application -->
    
    <head><title>Poll</title></head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <!--<body>
      <div class="container">
        <h1 class = "bg-primary" id="poll-submit">Quiz</h1>
        <form action="/assessment" method="post">
          <p> whats up <%= username %>. On a scale of <code>0.0</code> to <code>1.0</code>, how well would you say you did on this assessment?</p>
          <input name='score' type='text' width='5' id='score' />
          <button class="btn btn-primary" id="poll-submit">Submit</button>
        </form>
      </div>
    </body>
  </html>-->
  
  <body>
    <div class="container">
      <center><h1 class="bg-primary" id="poll-submit">Quizzes</h1></center>
      <center><p>There are currently no quizzes being hosted</p></center>
    </div>
  </body>