    <!--HTML for application -->
    
    <head><title>Poll</title></head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    
    <body>

      
      
        
      <div id="answer">
        <center>
          <h1>Answer Poll</h1>
          <!--<p>"Hello <%= username%>"</p>-->
        </center>
      </div>
      
      <div class="answer_container">
        <center>
        
        <!--<form method="post" action="answer_submit">-->
          <div class=".col-md-6 .offset-md-3">
          
            <input class="btn btn-primary btn-lg" onclick="red" type="submit" id="poll-submit" value="Answer 1" />
            
          </div> 
          
        <div><p></p></div>
        
          <div class=".col-md-6 .offset-md-3">
          
              <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Answer 2" />
          
          </div> 
          <div><p></p></div>

          <div class=".col-md-6 .offset-md-3">
          
            <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Answer 3" />
          
          </div> 
          <div><p></p></div>

          <div class=".col-md-6 .offset-md-3">
          
            <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Answer 4" />
          
          </div> 
          <div><h1></h1></H></div>
          
          
                    

          <div class=".col-md-6 .offset-md-3">
          <form method="get" action="/test">
            <input class="btn btn-primary btn-lg" type="submit" id="poll-submit" value="Submit" />
            </form> 
          </div> 
          

              
      </center></div>
      
      <!--<div id="Poll" class="answer">-->

      <!--      <label for= "QuizTitle">Answer</label>-->
      <!--      <input type="text" class="form-control" id="QuizTitle" name="quiz_title">-->

      <!--</div>-->


      
      
      <!--<div> 
        <input class="btn btn-lg tall-button col-xs-5 col-xs-offset-1 " style="background-color:red" type="submit" value="A"> 
        <input class="btn btn-lg tall-button col-xs-5 "  style="background-color:blue" type="submit" Value="B">
      </div>
      
      <div> 
        <br>
        <input class="btn btn-lg tall-button col-xs-5 col-xs-offset-1" style="background-color:green" type="submit" value="C"> 
        <input class="btn btn-lg tall-button col-xs-5" style="background-color:orange" type="submit" Value="D">
      </div>-->
      
      <!--<div> -->
      <!--  <input class="btn button-color btn-lg" type="submit"/>-->
      <!--</div>-->

      
    <!--</form>-->
  </body>
</html>