#poll-submit {
    background-color: #00703c;
    border-color: #00703c;
}

.button-color, .button-color:hover {
    color: #fff;
    background-color: #00703c;
    border-color: #00703c;
}

.tall-button {
  height: 40%;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }